{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dapp Demo</title>
  <script src="{% static 'demo/js/qrcode.min.js' %}"></script>
  <script src="{% static 'demo/js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'demo/js/hep.js' %}"></script>
</head>
<body>
  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>