{% extends "base.html" %}
{% block content %}
    {% if order %}
      <img src="{{ order.order_img }}"/>
      <p>order name: {{ order.ordername }}</p>
      <p>order number: {{ order.ordernumber }}</p>
      <p>order price: {{ order.total_price }}{{ order.price_currency }}</p>
      <button onclick="buy();">购买</button>
      <button onclick="h5pay();">购买h5</button>
      <div id="pay-qrcode"></div>
    {% else %}
        <p>暂无商品</p>
    {% endif %}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    function buy() {
        let orderId = "{{ order.ordernumber }}";
        let payUrl = "/request/pay";
        let data = {'order_number': orderId};
        $.post(payUrl, data, function (res) {
            if(res.error_code == 1) {
                let result = res.result;
                let qrContent = "hep://"+result.dapp_id + "/?" + "action=" + result.action + "&pay_hash=" + result.pay_hash;
                console.log("qrContent:" + qrContent);
                new QRCode(document.getElementById("pay-qrcode"), qrContent);

            }
        })
    }

     let index = 0;
     const interval = window.setInterval(loopQuery, 2000);
     //loopQuery();
     function loopQuery() {
         var url = "/query/pay/";
         $.ajax({
            url: url,
            async: true,
            type: 'post',
            dataType: "json",
            data: {},
            success: function (res) {
                index = res.error_code;
                if(index == 1) {
                    window.clearInterval(interval);
                    window.location.href = "/placeorder/";
                }
            }
        });
    }
  </script>
{% endblock %}